* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

form {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

main {
	padding-inline: max(24px, 50% - 800px);
	padding-block: 3vh;
	display: flex;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 10vh;
}

#container {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	align-items: start;
	background-color: gray;
}

.item {
	display: grid;
	grid-template-columns: 10ch 1fr;
	grid-template-rows: auto auto;
	padding: 2rem;
	border: 1px solid black;
	background-color: white;
	width: 100ch;
}

.form-group {
	display: flex;
	column-gap: 1rem;
	align-items: center;
}
